<div class="row">
  <h1 style="text-align: center">Edit Comment</h1>
  <div style="width: 30%; margin: 25px auto;">

    <form class = "edit-form" action="/comments/<%= reviewId %>" method="POST">
        <input type="hidden" name="commentId" value="<%= commentId %>">
        <input class="form-control" type="text" value="<%= comment %>" name="comment" placeholder="text">
        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
    </form>

    <a href="/reviews">Go Back</a>
  </div>
</div>
