<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title class="blue-text"> Rangefinder Review </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
    <% include _navbar %>
    <main >
      <%- body %>
    </main >
    <% include _footer %>
    <%- script %>
    <!--  Scripts-->
    <script type="text/javascript" src="/node-static.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
