  <nav class="white" style="height: 60px; line-height: 60px;" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="/" class="brand-logo">
        <img src="/images/leica_love_crop.jpg" style="height:45px; vertical-align:
        middle;"/>
      </a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/reviews">Reviews</a></li>
        <% if(!user){ %>
          <li><a href="/account/login">Login</a></li>
          <li><a href="/account/register">Register</a></li>
        <% } else { %>
	  <li><a href="#">Hello <%= user.displayName || user.email  %></a></li>
          <li><a href="/account/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav">
    <li><a href="/reviews">Reviews</a></li>
    <li><a href="/account/login">Login</a></li>
    <li><a href="/account/register">Register</a></li>
  </ul>
